* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.demo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 600px;
    padding: 16px;

    border: 1px solid #000;
    border-radius: 4px;
}

.demo + .demo {
    margin-top: 24px;
}

button {
    padding: 8px 16px;
}
